.row{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #244f62;
    color: #fbfbfb;
}
.container{
    border: 1px solid grey;
    margin: 3px;
    border-radius: 3px;
    padding-top: 12px;
}
div{
    background-color: #244f62;
    color: #fbfbfb;
}
h1, h3{
    display: inline;
}
ul{
    padding-left: 80px;
}
table{
    color: #fbfbfb;
}