.row{
    background-color: #244f62;
    
}
footer{
    color: #fbfbfb;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}