<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo deserunt reiciendis aliquam veritatis quis debitis incidunt voluptatem vel. Molestias minima eveniet quo perspiciatis dolores dolorem enim quae, repudiandae quasi omnis.</p>
            <li><h1>Trabajo 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo deserunt reiciendis aliquam veritatis quis debitis incidunt voluptatem vel. Molestias minima eveniet quo perspiciatis dolores dolorem enim quae, repudiandae quasi omnis.</p>
            <li><h1>Trabajo 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo deserunt reiciendis aliquam veritatis quis debitis incidunt voluptatem vel. Molestias minima eveniet quo perspiciatis dolores dolorem enim quae, repudiandae quasi omnis.</p>
        </ul>
    </div>   
</div>
