.row{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #244f62;
    color: #fbfbfb;
}
.container{
    border: 1px solid grey;
    margin: 3px;
    border-radius: 3px;
    padding-top: 12px;
}
.contenedor{
    width: auto;
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 30px #000000;
}
table{
    color: #fbfbfb;
}