.row{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #244f62;
    color: #fbfbfb;
}
.container{
    border: 1px solid grey;
    margin: 3px;
    border-radius: 3px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}