.row{
    padding-left: 20px;
    padding-right: 20px;
}
.container{
    border: 1px solid grey;
    margin: 3px;
    border-radius: 3px;
    padding-top: 12px;
}
div{
    background-color: #244f62;
    color: #fbfbfb;
    text-align: center;
}
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}

/*estilo foto de perfil*/
@media (min-width: 576px){
    #fotoperfil{
        /*position: absolute;
        width: 15%;*/
        border-radius: 100%;
        /*box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 520px;*/
    }

    .descripcion{
        display: inline-block;
        justify-content: center;
        align-items: center;
    }

    .nombre{
    }
}
@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        /*box-shadow: 3px 3px 3px grey;*/
        left: 35%;
        top: 600px;
    }
}