<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="logo arg programa" id="logoAP"/>
        </div>
        <div class="redes">
            <div>
                <a href="https://www.linkedin.com/in/elias-acosta-611630226/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="https://twitter.com/elias2016acosta"><img src="../../../assets/twitter.png" id="twitter"></a>
                <a href="https://www.instagram.com/acosta.elias_/"><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href="https://github.com/puntit0"><img src="../../../assets/github.png" id="github"></a>
                <a href="https://www.facebook.com/profile.php?id=100009782796228"><img src="../../../assets/facebook.png" id="facebook"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged"> ingreso</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged"> cerrar sesion</button>
       
            </div>
        </div>
        
    </div>
</div>

